{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h1> Play Game</h1>
<style>
    li {
        display: inline !important
    }
</style>
{% if request.session.movies|length > 0 %}
<form method="post">
    {%csrf_token%}
    {{formset.management_form}}
    {% for form in formset %}
    {{ form.non_field_errors }}
    <div class="fieldWrapper">
        <table>
            <th>
                {{ form.rating.errors }} {{form.movieid}}
            </th>
            <tr>
                <td>
                    <label for="{{ form.rating.id_for_label }}" aria-readonly="true">{{form.title}}</label>
                </td>
                <td>
                    {{ form.rating }}
                </td>
            </tr>
        </table>



    </div>
    <br>
    {%endfor%}

    <input type="submit" value="Rate movies">
</form>

{% else %}

<h3> Please select another category </h3>
<p><a href="{% url 'home' %}">Select another category</a></p>


{% endif %}

{% endblock %}